<div class="content">
  <div class="columns is-flex is-align-items-center p-3 m-3">
    <div class="column is-8 is-flex is-flex-direction-column">
      <h4>
        <p style="color:#fff">If you use GeneCodis4, please cite:</p>
      </h4>
      <a href="https://doi.org/10.3390/biomedicines10030590" class="gc4links" target="_blank">
        Garcia-Moreno, A.; López-Domínguez, R.; Villatoro-García, J.A.; Ramirez-Mena, A.; Aparicio-Puerta, E.; Hackenberg, M.; Pascual-Montano, A.; Carmona-Saez, P. Functional Enrichment Analysis of Regulatory Elements. Biomedicines 2022, 10, 590. https://doi.org/10.3390/biomedicines10030590 
      </a>
      <h5 class="mt-5">
        <p style="color:#fff">Previous versions:</p>
      </h5>
      <a href="https://doi.org/10.1093/nar/gks402" class="gc4links is-size-6" target="_blank">
        Tabas-Madrid D, Nogales-Cadenas R, Pascual-Montano A: GeneCodis3: a non-redundant and modular enrichment analysis tool for functional genomics. Nucleic Acids Research 2012
      </a>
      <a href="https://doi.org/10.1093/nar/gkp416" class="gc4links is-size-6" target="_blank">
        Nogales-Cadenas R, Carmona-Saez P, Vazquez M, Vicente C, Yang X, Tirado F, Carazo JM, Pascual-Montano A: GeneCodis: interpreting gene lists through enrichment analysis and integration of diverse biological information. Nucleic Acids
        Research 2009
      </a>
      <a href="https://doi.org/10.1186/gb-2007-8-1-r3" class="gc4links is-size-6" target="_blank">
        Carmona-Saez P, Chagoyen M, Tirado F, Carazo JM, Pascual-Montano A: GENECODIS: A web-based tool for finding significant concurrent annotations in gene lists. Genome Biology 2007 8(1):R3
      </a>
    </div>
    <div class="column is-4 is-flex is-flex-direction-column is-align-self-baseline">
      <h4>
        <p style="color:#fff">GeneCodis 2007-2021</p>
      </h4>
      <p>Access and navigation on this website is general and free.</p>
      <a href="https://www.genyo.es/privacy-policy/?lang=en" class="gc4links is-6" target="_blank">Privacy Policy</a>
      <h5 class="mt-2">
        <p style="color:#fff">Contact us at:</p>
      </h5>
      <a href="mailto:bioinfo@genyo.es?subject=GeneCodis4 Help" class="gc4links">bioinfo@genyo.es</a>
      <a class="mt-4" href="https://bulma.io">
        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="256" height="48">
      </a>
    </div>
  </div>
  <div style="background-color:#FFFFFF" class="columns is-flex is-align-items-center p-3 m-2">
    <div class="column has-text-centered">
      <img style="max-height:120px;" src="assets/images/bioinformatics-GENyO-junta-andalucia-pfizer-universidad-granada-logo.png" alt="GENyO BioInformatics Logo">
    </div>
    <div class="column has-text-centered">
      <img style="max-height:150px;" src="https://www.genyo.es/wp-content/uploads/2019/10/logougrslider.png" alt="Universidad Granada">
    </div>
  </div>
</div>
