<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img style="max-height:80px; background-color:#FFFFFF;" src="assets/images/GC4logo.png" alt="GENyO BioInformatics Logo">
    </a>
    <div class="tabs is-flex-grow-1">
      <ul class="is-justify-content-space-around">
        <!-- <li id='link'><a href="https://devgenecodis.genyo.es/">Go to beta version</a></li> -->
        <li id='analysistab' class="is-active"><a onclick="openTab(event,'analysis')">Analysis</a></li>
        <li id='resultstab' style='display:none;'><a onclick="openTab(event,'results')">Results</a></li>
        <li><a onclick="openTab(event,'help')">Help</a></li>
      </ul>
    </div>
  </div>
</nav>
