**zip
genecodis3_essentials/benchMark/*.csv
web/templates/index_template.html
web/templates/index.html
gc4internal.log
**.DS_Store
**.pyc
etc**
db/maintenance/raw_sql/**
db/maintenance/data/**
*.xcf
web/htmls/assets/images/edits/**
pip-selfcheck.json
node_modules/**
bibliography/**
db/lib/__pycache__/**
API/__pycache__/**
db/a**
examples/**
web/htmls/jobs/**
venv/**
gc4venv/**
*.pgsql
**/__pycache__/**
*log
index.html
.env
.private
**.conf
**.html
genecodis3_essentials/benchMark/**/**
maxResults.json
maxResults.tsv
**.json
.private
venv/**
**.csv
gc4app/visualization/html_files
gc4app/visualization/json_tables
fpgrowthMinSupportRise.tsv
web/htmls/assets/js/validator.js
web/htmls/assets/css/bulmaCustom1**
web/htmls/assets/css/flex_layout1**
web/htmls/assets/js/cookie-warn1**
web/htmls/assets/js/organism_annotations1**
web/htmls/assets/js/saveSvgAsPng1**
web/htmls/assets/js/validator1**
web/htmls/assets/js/validator_template1**
*.tar.xz
*.png
importFromPreprod.sh
changelog.txt
envGenerator.py
sparky.py
wsgi.py
mongodb/**
configs/**
comparingTools/**
