aniso8601
attrs
certifi
chardet
Click
fdict
Flask
flask-marshmallow
flask_mail
Flask-RESTful
flask_cors
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
marshmallow
matplotlib
numpy
packaging
pandas
parso
Pillow
pip-tools
psycopg2-binary
ptyprocess
pyparsing
pytz
PyYAML
requests
scikit-learn
scipy
six
sklearn
urllib3
wcwidth
Werkzeug
wheel
python-dotenv
psutil
mlxtend
python-magic
xlrd
gevent
gtfparse
obonet
pyreadr
statsmodels
pygam
sqlalchemy
pip-tools
