<p class='gc4title' id='annotations'>Choose the annotation/s (0/3)</p>
<div class="row" name='annotationsrow'>
  <div class="column cell gc4annot">
    <p class="gc4subtitle">Regulatory</p>
    <%- annotsForm.regulatory %>
    <p class="gc4subtitle">miRNAs-based</p>
    <%- annotsForm.mirnas %>
  </div>
  <div class="column cell gc4annot">
    <p class="gc4subtitle">Functional</p>
    <%- annotsForm.functional %>
  </div>
  <div class="column cell gc4annot">
    <p class="gc4subtitle">Perturbation</p>
    <%- annotsForm.perturbats %>
  </div>
</div>
