<div class="field">
  <div class="control has-icons-left">
    <input class="input" style="width:100%;" type="email" name="email" placeholder="Email to recieve your report">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>
</div>
<div class="field">
  <div class="control has-icons-left">
    <input class="input" style="width:100%;" name="jobName" required placeholder="Name your report">
    <span class="icon is-small is-left">
      <i class="fas fa-file-signature"></i>
    </span>
  </div>
  <p id="exdesc"></p>
</div>
<button class="button gc4launch" type="button" onclick="validateForm();">Launch Analysis</button>
